@model IEnumerable<SegurosFYP.Models.EstadoCivilViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <h1>Detalles</h1>
    <div>
        <hr />
        <form asp-controller="EstadoCivil" method="post" asp-action="Details">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Estad_Id)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => item.Estad_Id)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Estad_Descripcion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => item.Estad_Descripcion)
                        </dd>
                    </dl>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Accion</th>
                <th>Usuario</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Creacion</td>
                <td>@Html.DisplayFor(modelItem => item.usua_creac)</td>
                <td>@Html.DisplayFor(modelItem => item.Estad_FechaCreacion)</td>
            </tr>
            <tr>
                <td>Modificacion</td>
                <td>@Html.DisplayFor(modelItem => item.usua_modi)</td>
                <td>@Html.DisplayFor(modelItem => item.Estad_FechaModificacion)</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div>
        <a asp-route-id="@item.Estad_Id" type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalEliminar" onclick="ObtenerID('@item.Estad_Id')"><i class="mdi mdi-eraser-variant"></i>Eliminar</a>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
}

<div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Delete", new SegurosFYP.Models.EstadoCivilViewModel())
            </div>
        </div>
    </div>
</div>
