@model SegurosFYP.Models.EstadoCivilViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>EstadoCivilViewModel</h4>
    <hr />
    <form asp-controller="EstadoCivil" method="post" asp-action="Details"> 
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estad_Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estad_Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estad_Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estad_Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estad_UsuarioCreacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estad_UsuarioCreacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estad_FechaCreacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estad_FechaCreacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estad_UsuarioModificacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estad_UsuarioModificacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estad_FechaModificacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estad_FechaModificacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estad_Estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estad_Estado)
            </dd>
        </dl>
    </form>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
