@model IEnumerable<SegurosFYP.Models.PaisesViewModel>

@{
    ViewData["Title"] = "Index";
    ViewData["ModelName"] = "PaisesViewModel".Replace("ViewModel","");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header">
    <h1>@ViewData["ModelName"]</h1>

    <p>
        @*<a asp-action="Create" class="btn btn-primary"><i class="mdi mdi-folder-plus"></i>Nuevo</a>*@
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="mdi mdi-folder-plus"></i>Nuevo</button>
    </p>
</div>
<table class="table table-responsive table-bordered" id="Example">
    <thead>
        <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Paise_Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Paise_Nacionalidad)
                    </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paise_Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paise_Nacionalidad)
            </td>
            <td>
                <a asp-route-id="@item.Paise_Id" type="button" class="btn btn-primary FetchData" data-toggle="modal" data-target="#EditarModal" data-id="@item.Paise_Id"><i class="bi bi-pencil"></i>Editar</a>
                <a href="@Url.Action("Details","Pais", new {Paise_Id = item.Paise_Id})" class="btn btn-warning"><i class="bi bi-eye"></i>Detalles</a>
                <a asp-route-id="@item.Paise_Id" type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalEliminar" onclick="ObtenerID('@item.Paise_Id')"><i class="bi bi-trash"></i>Eliminar</a>

            </td>
        </tr>
}
    </tbody>
</table>
<div class="modal fade" id="EditarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Update", new SegurosFYP.Models.PaisesViewModel ())
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Insertar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Insert", new SegurosFYP.Models.PaisesViewModel ())
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Delete", new SegurosFYP.Models.PaisesViewModel ())
                </div>                     
            </div>
        </div>
    </div>
<script>
    document.querySelectorAll('.FetchData').forEach(item => {
        item.addEventListener('click', function () {
            var id = this.getAttribute('data-id');
            console.log(id);
            fetchData(id);
        });
    });
    function fetchData(id) {
        console.log(id);
        fetch('https://localhost:44327/api/Pais/Cargar/Pais?Paise_Id=' + id)
            .then(response => response.json())
            .then(data => {
                var dany = JSON.stringify(data.data);
                document.getElementById('Paise_Id').value = data.data[0].paise_Id;
                document.getElementById('Paise_Descripcion').value = data.data[0].paise_Descripcion;
                document.getElementById('Paise_Nacionalidad').value = data.data[0].paise_Nacionalidad;

            })
            .catch(error => console.error('Hubo un error:', error));
    }

    </script>
