@model SegurosFYP.Models.PolizaCompletaViewModel

@{
    ViewData["Title"] = "Pdf";
    ViewData["ModelName"] = "PolizaCompletaViewModel".Replace("ViewModel", "");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table mb-4">
    <tr>
        <td colspan="8">ENCABEZADO</td>
    </tr>
    <tr>
        <th colspan="2">Cod. de contratante</th>
        <th colspan="2">Fecha de emision</th>
        <th colspan="2">No. de poliza</th>
        <th colspan="2">Cod. Agente de venta</th>
    </tr>
    <tr>
        <td colspan="2">@Html.DisplayFor(model => model.Cliente.Perso_Id)</td>
        <td colspan="2">@DateTime.Now</td>
        <td colspan="2">@Html.DisplayFor(model => model.Poliza.Poliz_Id)</td>
        <td colspan="2">@Html.DisplayFor(model => model.Empleado.Emple_Id)</td>
    </tr>
</table>

<table>
    <tr class="bg-primary">
        <td colspan="8">A. DATOS GENERALES</td>
    </tr>
    <tr class="bg-primary">
        <td colspan="8">I. DATOS DEL AGENTE DE SEGURO</td>
    </tr>
    <tr>
        <td colspan="1">Agente</td>
        <td colspan="4">@Html.DisplayFor(model => model.Empleado.Perso_NombreCompleto)</td>
        <td colspan="1">Codigo del agente</td>
        <td colspan="2">@Html.DisplayFor(model => model.Empleado.Emple_Id)</td>
    </tr>
    <tr class="bg-primary">
        <td colspan="8">II. DATOS DEL CONTRATANTE</td>
    </tr>
    <tr>
        <td colspan="8"><b>DATOS PERSONA NATURAL</b></td>
    </tr>
    <tr>
        <th colspan="2">Primer Nombre</th>
        <th colspan="2">Segundo Nombre</th>
        <th colspan="2">Primer Apellido</th>
        <th colspan="2">Segundo Apellido</th>
    </tr>
    <tr>
        <td colspan="2">@Html.DisplayFor(model => model.Cliente.Perso_PrimerNombre)</td>
        <td colspan="2">@Html.DisplayFor(model => model.Cliente.Perso_SegundoNombre)</td>
        <td colspan="2">@Html.DisplayFor(model => model.Cliente.Perso_PrimerApellido)</td>
        <td colspan="2">@Html.DisplayFor(model => model.Cliente.Perso_SegundoApellido)</td>
    </tr>
    <tr>
        @if (Html.DisplayFor(model => model.Identificacion.Tiden_Id[0]).ToString() == "1")
        {
            <td colspan="2">Tipo de Identificacion</td>
            <td colspan="2"><b>Identidad</b></td>
            <td colspan="2">Pasaporte</td>
            <td colspan="2">Carne de residencia</td>
        }
        else if (Html.DisplayFor(model => model.Identificacion.Tiden_Id[0]).ToString() == "2")
        {
            <td colspan="2">Tipo de Identificacion</td>
            <td colspan="2">Identidad</td>
            <td colspan="2"><b>Pasaporte</b></td>
            <td colspan="2">Carne de residencia</td>
        }
        else
        {
            <td colspan="2">Tipo de Identificacion</td>
            <td colspan="2">Identidad</td>
            <td colspan="2">Pasaporte</td>
            <td colspan="2"><b>Carne de residencia</b></td>
        }
    </tr>
    <tr>
        <th colspan="2">No. Identificacion</th>
        <th colspan="2">RTN</th>
        <th colspan="2">Fecha de nacimiento</th>
        <th colspan="2">Lugar de nacimiento</th>
    </tr>
    <tr>
        <td colspan="2">@Html.DisplayFor(model => model.Identificacion.Ident_Id[0])</td>
        <td colspan="2">@Html.DisplayFor(model => model.Identificacion.Ident_NumeroIdentificacion[0])</td>
        <td colspan="2">@Html.DisplayFor(model => model.Identificacion.Ident_FechaNacimiento[0])</td>
        <td colspan="2">@Html.DisplayFor(model => model.Identificacion.Ident_LugarNacimiento[0])</td>
    </tr>
    <tr>
        @if (Html.DisplayFor(model => model.Cliente.Estci_Id).ToString() == "1")
        {
            <td colspan="1">Estado Civil</td>
            <td colspan="3"><b>S</b>   C   D   V   UL</td>
        }
        else if (Html.DisplayFor(model => model.Cliente.Estci_Id).ToString() == "2")
        {
            <td colspan="1">Estado Civil</td>
            <td colspan="3">S   <b>C</b>   D   V   UL</td>
        }
        else if (Html.DisplayFor(model => model.Cliente.Estci_Id).ToString() == "3")
        {
            <td colspan="1">Estado Civil</td>
            <td colspan="3">S   C   <b>D</b>   V   UL</td>
        }
        else if (Html.DisplayFor(model => model.Cliente.Estci_Id).ToString() == "3")
        {
            <td colspan="1">Estado Civil</td>
            <td colspan="3">S   C   D   <b>V</b>   UL</td>
        }
        else
        {
            <td colspan="1">Estado Civil</td>
            <td colspan="3">S   C   D   V   <b>UL</b></td>
        }

        @if (Html.DisplayFor(model => model.Cliente.Perso_Sexo).ToString() == "M")
        {
            <td colspan="4">Género      <b>Masculino</b>   Femenino</td>
        }
        else
        {
            <td colspan="4">Género      Masculino   <b>Femenino</b></td>
        }
    </tr>
    <tr>
        <td colspan="4">Nacionalidad</td>
        <td colspan="2">Estatura</td>
        <td colspan="2">Peso</td>
    </tr>
    <tr>
        <td colspan="4">@Html.DisplayFor(model => model.Cliente.Paise_Id)</td>
        <td colspan="2"></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="1">Telefono 1</td>
        <td colspan="3">@Html.DisplayFor(model => model.Cliente.Perso_Telefono)</td>
        <td colspan="1">Telefono 2</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td colspan="2">Correo electronico 1</td>
        <td colspan="6">@Html.DisplayFor(model => model.Cliente.Perso_CorreoElectronico)</td>
    </tr>
    <tr>
        <td colspan="2">Correo electronico 2</td>
        <td colspan="6"></td>
    </tr>
    <tr>
        <td colspan="2">Nombre del conyuge(completo)</td>
        <td colspan="6">@Html.DisplayFor(model => model.Conyugue.Perso_NombreCompleto)</td>
    </tr>
    <tr>
        <td colspan="8"><b>Direccion de residencia del contratante / asegurado</b></td>
    </tr>
    <tr>
        <td colspan="8">@Html.DisplayFor(model => model.Cliente.Perso_Direccion)</td>
    </tr>
    <tr>
        <td colspan="2">Pais</td>
        <td colspan="3">Departamento</td>
        <td colspan="3">Municipio</td>
    </tr>
    <tr>
        <td colspan="2">@Html.DisplayFor(model => model.Cliente.Paise_Descripcion)</td>
        <td colspan="3">@Html.DisplayFor(model => model.Cliente.Depar_Descripcion)</td>
        <td colspan="3">@Html.DisplayFor(model => model.Cliente.Munic_Descripcion)</td>
    </tr>
    <tr>
        <td colspan="2">Direccion completa</td>
        <td colspan="6">@Html.DisplayFor(model => model.Cliente.Perso_Direccion)</td>
    </tr>
    <tr>
        <td colspan="8"><b>Beneficiaros contingentes</b></td>
    </tr>
    <tr>
        <th colspan="4">Nombre</th>
        <th colspan="2">Identidad</th>
        <th colspan="2">Parentesco</th>
    </tr>
    @foreach (var item in Model.Dependientes)
    {
        <tr>
            <td>@item.Perso_NombreCompleto</td>
            <td>@item.Ident_NumeroIdentificacion</td>
            <td>@item.Paren_Descripcion</td>
        </tr>
    }
</table>

