@model IEnumerable<SegurosFYP.Models.CargosViewModel>

@{
    ViewData["Title"] = "Index";
    ViewData["ModelName"] = "CargosViewModel".Replace("ViewModel", "");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header">
    <h1>@ViewData["ModelName"]</h1>

    <p>
        @*<a asp-action="Create" class="btn btn-primary"><i class="mdi mdi-folder-plus"></i>Nuevo</a>*@
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="mdi mdi-folder-plus"></i>Nuevo</button>
    </p>
</div>
<table class="table table-bordered" id="Example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cargo_Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Cargo_Descripcion)
                </td>
                <td>
                    <a asp-route-id="@item.Cargo_Id" type="button" class="btn btn-primary FetchData" data-toggle="modal" data-target="#EditarModal" data-id="@item.Cargo_Id"><i class="bi bi-pencil"></i>Editar</a>
                    <a href="@Url.Action("Details","Cargo", new {Cargo_Id = item.Cargo_Id})" class="btn btn-warning"><i class="bi bi-eye"></i>Detalles</a>
                    <a asp-route-id="@item.Cargo_Id" type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalEliminar" onclick="ObtenerID('@item.Cargo_Id')"><i class="bi bi-trash"></i>Eliminar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="EditarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Update", new SegurosFYP.Models.CargosViewModel())
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Insertar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Insert", new SegurosFYP.Models.CargosViewModel())
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Delete", new SegurosFYP.Models.CargosViewModel())
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>    
    document.querySelectorAll('.FetchData').forEach(item => {
        item.addEventListener('click', function () {
            var id = this.getAttribute('data-id');
            console.log(id);
            fetchData(id);
        });
    });
    function fetchData(id) {
        console.log(id);
        fetch('https://localhost:44327/api/Cargo/Cargar/Cargo?Cargo_Id=' + id)
            .then(response => response.json())
            .then(data => {
                var dany = JSON.stringify(data.data);
                document.getElementById('Cargo_Id').value = data.data[0].cargo_Id;
                document.getElementById('Cargo_Descripcion').value = data.data[0].cargo_Descripcion;

            })
            .catch(error => console.error('Hubo un error:', error));
    }


        //var url = 'https://localhost:44347/api/EstadoCivil/Cargar/EstadoCivil?Estad_Id=';
        //document.querySelectorAll('.FetchData').forEach(item => {
        //    item.addEventListener('click', function () {
        //        var id = this.getAttribute('data-id');
        //        console.log(id);
        //        fetchData(id);
        //    });
        //});
        //function fetchData(id) {
        //    console.log(id);
        //    fetch(url)
        //        .then(response => response.json())
        //        .then(data => {
        //                        document.getElementById('Cargo_Id').value = data.data[0].Cargo_Id;
        //                        document.getElementById('Cargo_Descripcion').value = data.data[0].Cargo_Descripcion;
        //        })
        //        .catch(error => console.error('Hubo un error:', error));
        //}
</script>
